body {
  margin-left: 0 auto;
  margin-right: 0 auto;
  margin-top: 5%;
  background: #eee;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.card {
  width: 230px;
  height: 230px;
  margin: 0 auto;
  position: relative;
  perspective: 1400px;
  left: 0;
  transition: all 1s;
}

.left-card {
  position: relative;
  height: 100%;
  width: 100%;
  cursor: pointer;
  box-shadow: 5px 0 px 5px rgba(0, 0, 0, 0.1);
  z-index: 1;

  transition: transform 1s;
  transform-style: preserve-3d;
  transform-origin: 0 0;
}

.left-card img {
  width: 100%;
}

.left-card .card-front,
.left-card .card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  backface-visibility: hidden;
}

.left-card .card-back {
  background: #f4f4f4;
  transform: rotateY(180deg);
}

.card.open .left-card {
  transform: rotateY(-180deg);
}

/* .card.open {
  left: 150px;
} */

.right-card {
  width: 100%;
  height: 100%;
  background: #fff;
  text-align: center;
  padding: 30px;
  box-sizing: border-box;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  color: #444;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

.right-card h2 {
  color: crimson;
}

@media screen and (max-width: 300px) {
  .left-card .card-front,
  .left-card .card-back {
    position: absolute;
    max-width: 100%;
    max-height: auto;
    top: 0;
    left: 0;
    backface-visibility: hidden;
  }

  .right-card {
    max-width: 100vw;
    max-height: auto;
  }
}
